USE [ckRSA]
GO
/****** Object:  Table [dbo].[BangPT]    Script Date: 4/27/2024 7:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangPT](
	[ma] [int] IDENTITY(1,1) NOT NULL,
	[nk] [nvarchar](50) NULL,
	[nn] [nvarchar](50) NULL,
	[dc] [nvarchar](100) NULL,
	[ld] [nvarchar](500) NULL,
	[st] [float] NULL,
	[ng] [nchar](20) NULL,
	[n] [nchar](1000) NULL,
 CONSTRAINT [PK_BangPT] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangPT] ON 

SET IDENTITY_INSERT [dbo].[BangPT] OFF
GO
